@*@model IEnumerable<Practicing.Models.Customer>*@
@model IList<Practicing.Models.Customer>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create new", "Create")

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
    </tr>


@foreach (var item in Model)
{
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.City</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId})
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId})
        </td>
    </tr>
}
    

    
</table>