@model Unexpo.Core.Models.Teacher

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "TeachersByDepartmentId", new { id = Model.DepartmentId})
    </p>
}
